footer{
    background-color: $color-footer;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        padding: 5rem;
        .logo{
            width: 250px;
            filter: invert(75%);         
        }
        .footer__nav{
            display: flex;
            align-items: center;
            gap: 80px;
            .footer__item{
                font-size: 1.2rem;
                color: $color-dark-green;
                &:hover{
                    color: $white;
                }
            }
        }
        .footer__socials{
            display: flex;
            align-items: center;
            gap: 30px;
            .socials{
                &:hover{
                    filter: invert(100%);  
                }
            }
        }
    }
}
